.Boxfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url(../../assets/yiyo.JPG);
    background-position: center;
    background-size: cover;
}

.Footertitle{
    color: white;
    margin: 50px 0 0 0 ;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.Footerlogo img{
    width: 200px;
    margin-bottom: 40px;
}

.Derechos{
    display: flex;
    justify-content: center;
    text-align: center;
}

.Derechos h4{
    color: white;
    padding-bottom: 70px;
    text-align: center;
}

.field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 25px 10px;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color: #d4d4d4;
    text-shadow: 2px 2px black;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
    border-radius: 15px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #ce0000;
    color: #fff;
    border: none;
    margin-top: 16px;
   
  }

  input[type="submit"]:hover {
    transition: all 1s;
    background-color: rgb(255, 238, 0); 
   
  }


  .mensajelabel{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  textarea{
    resize: none;
    height: 120px;
    border-radius: 15px;
    
  }

 


@media (max-width:700px){
    .Derechos h4{
       font-size: 16px;
    }
}

@media (max-width:450px){
    .Derechos h4{
       font-size: 12px;
       margin: 0 20px;
    }
}